body {
    background: linear-gradient(to bottom right, rgb(243, 233, 233), rgb(234, 145, 225));
    text-align: center;
    box-sizing: border-box;
    margin: 0; 
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%; 
  }
  